*{
  font-family: 'lato';
  font-weight: 900;
  
}

.navbar-height{
  height: 130px;
}

.bg-navbar-dark {
  background-color: #192f58;
}

.img-fluid{
  max-width: 70% !important;
}
.dropdown-menu {
  background-color: #192f58 !important;
  border: none !important;
  border-radius: 0 !important;
}

.custom-font{
  font-family: "le-monde-livre-classic-byol, sherif";
}


.carousel-h1{
  color: #192f58;
}

.carousel-btn {
  background-color: #2976bc !important;
  color: white !important;
  border-radius: 0 !important   ;
  padding: 18px !important   ;
}

.custom-width {
  width: 2px;
  color: white;
  opacity: 100;
  height: 20px;
  margin-top: 14px;
  margin-left: 15px;
  margin-right: 15px;
}

.carousel-item .carousel-box {
  min-height: calc(100vh - 130px);
  background-position: center;
}

.carousel-indicators button {
  border: 2px solid #192F58 !important;
  background-color: #192F58 !important;
  height: 10px !important;
  width: 10px !important;
  border-radius: 100%;
}
/* .carousel-indicators button:focus{
  color: #192F58 !important;
  background-color: #192F58 !important;
  
} */

.arrow-icon {
  color: #192F58;
}
.carousel-control-next {
  width: 50px !important;
  color: #192F58;
  border: 2px solid #192F58 !important;
  top: auto !important;
  bottom: 30px !important;
  left: auto !important;
  right: 65px !important;
}


.carousel-control-prev {
  width: 50px !important;
  border: 2px solid #192F58 !important;
  color: #192F58;
  top: auto !important;
  bottom: 30px !important;
  left: auto !important;
  right: 113px !important;
}

/* indicators position change */
.carousel-indicators{
  margin-left: 48px !important;
  margin-bottom: 35px !important;
  right: 0px  !important;
}

/* carousel button and indicator responsive */
@media only screen and (max-width: 400px) {
   .carousel-control-next {
      top: auto !important;
      bottom: 10px !important;
      left: auto !important;
      right: 35px !important;
    }
    .carousel-control-prev {
   
      top: auto !important;
      bottom: 10px !important;
      left: auto !important;
      right: 83px !important;
    }
    
    .carousel-indicators{
      margin-left: 18px !important;
      margin-bottom: 35px !important;
      right: 0px  !important;
    }
 }

 @media (max-width: 991px) {
  .navbar-collapse {
    position: absolute !important;
    top: 120px !important; /* height of navbar */
    left: 0 !important;
    right: 0 !important;
  }
}